name: Publish Release Assets

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  publish:
    name: Publish Release Assets
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 'latest'

      - name: Cache Bun dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.bun
          key: ${{ runner.os }}-bun-cache-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-bun-cache-

      - name: Install deps
        run: bun install --cache

      - name: Build
        run: bun run build

      - name: Run publish script
        run: |
          chmod +x scripts/publish.sh
          ./scripts/publish.sh

      - name: Upload tar.gz file to release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            out/sousou-admin-web.tar.gz
            out/sousou-user-web.tar.gz
          token: ${{ secrets.GITHUB_TOKEN }}
